/* Color Palette */
/* Not Quite Black - #231911 */
/* Taupy Gray - #a1a19b */
/* Light Sand - #f2f2f2 */
/* Succulent Green - #7b9a7b*/
/* Clay Pot Orange - #c34910 */
/* White - #ffffff */

/*------------------------------------------------------------------
    [Table of contents]

    General

    1. General Styling 
    2. Navbar Section
    3. Hero Image Section

    Homepage (1) 

    4. User Directory: How Can We Help? Section
    5. Background Info: Did You Know? Section
    6. Testimonials Section
    7. Student Resources Section
    8. Other Basic Needs Resources Section
    9. Chat with Someone Section
    10. Get Involved Section
    

    Student Mental Health Resources Page (2)

    11. Resource Directory Section
    12. On-Campus Resources Section
    13. Off-Campus Resources Section
    14. Online/National Resources Section


    Get Involved Page (3)

    15. Helper Directory Section
    16. Student Helpers Section
    17. Faculty Helpers Section
    18. Donors & Alumni Section
    19. Therapist Volunteers Section


    Crisis Page (4)

    20. Crisis Info Section

    21. Footer

    -------------------------------------------------------------------





/* General */

/* 1. General Styling */
html, body, nav, header, footer {
  font-family: 'Montserrat', sans-serif; 
  background-color: #fff; 
}


h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 2.2rem;
  font-family: 'Rock Salt', cursive; 
}

h4 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.0rem;
}


/* 2. Navbar Section */
/* 2a. Navbar Section - Main */
.main-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    /* display: flex; */
    z-index: 20;
  }
  
  .main-header > div {
    display: inline-block;
    vertical-align: middle;
  }
  
  .toggle-button {
    width: 3rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
  }
  
  .toggle-button:focus {
    outline: none;
  }
  
  .toggle-button-bar {
    width: 100%;
    height: 0.2rem;
    background: black;
    display: block;
    margin: 0.6rem 0;
  }
  
  .main-header-brand {
    color: #231911;
    text-decoration: none;
    font-weight: 700;
    height: 3rem;
    /* width: 20px; */
    display: inline-block;
    vertical-align: middle;
  }
  
  /* The following code block tricks the CSS so that we can center the brand logo vertically. */
  .main-header-brand:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
  /* End of "trick" code block */
  
  .main-header-brand span {
    /* width: 100%; */
    font-family: 'Montserrat', sans-serif; 
    /* font-size: 2rem; */
    /* display: inline-block; */
    height: 100%;
    letter-spacing: 4px;
    /* vertical-align: middle; */
  }
  
  .main-nav {
    display: none;
    text-align: right;
    width: calc(100% - 122px);
    vertical-align: middle;
  }
  
  .main-nav-items {
    margin: 0;
    padding: 0;        /* This also has the effect of removing bullet points */
    list-style: none;  /* removes bullet points */
  }
  
  .main-nav-item {
    display: inline-block;
    margin: 0 1rem;
  }
  
  .main-nav-item-link,
  .mobile-nav-item-link { 
  color: #231911; 
  font-weight: 700; 
  /* letter-spacing: 2px;  */
  text-decoration: none; 
  /* background: #fff;  */
  padding: 0.2rem 0; 
  /* display: inline-block;  */
  /* width: 100%;  */
  /* text-align: center;  */
  }
  
  @media (min-width: 42rem) {
    .toggle-button {
      display: none;
    }
  
    .main-nav {
      display: inline-block;
      text-align: right;
      width: calc(100% - 44px);
      vertical-align: middle;
    }
  }
  
  .main-nav-item-link:hover,
  .main-nav-item-link:active { 
    color: #7b9a7b;
    /*background: #231911;*/
    /*border-bottom: 5px solid #fff;*/
    /* opacity: 0.75;  */
  }
  
  /* 2b. Navbar Section - Mobile */
  .mobile-nav {
    display: none;
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    line-height: 2;
    background: #fff;
    width: 80%;
    height: 100vh;
  }
  
  .mobile-nav-items {
    width: 90%;
    height: 100%;
    list-style: none;
    margin: 10% auto;
    padding: 0;
    text-align: center;
  }
  
  .mobile-nav-item {
    margin: 1rem 0;
  }
  
  .mobile-nav-item-link {
    font-size: 1.5rem;
  }
  
  /* The hide-nav class will be added when the mobile nav is clicked */
  .hide-nav {
    display: none;
  }

/* 3. Hero Image Section */
.hero-section {
  position: relative;
  max-height: 75vh;
  margin-top: 4rem;
}

.hero-image-container {
  /* position: relative; */
  top: 0;
  left: 0;
  width: 100vw;
}

.hero-image {
  width: 100vw;
  /* width: 100%; */
  max-height: 75vh;
  object-fit: cover;
  object-position: top;
}
.hero-overlay {
  background-color: #000;
  opacity: 0.3;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  position: absolute;
}

.hero-text-container {
  z-index: 15;
  color: #fff;
  position: absolute;
  top: 40%;
  left: 0;
  text-align: center;
  line-height: 1.5;
  /* position: flex; */
  margin: 0 auto;
  width: 100%;
}

.hero-text {
  color: #fff;
  margin: 0 auto;
  font-family: Rock Salt, cursive; 
  padding: 20px; 
}

.hero-text-sub {
  padding-top: 20px;
  font-family: 'Montserrat', sans-serif; 
}

mark {
  background-color: #231911; 
  color: #fff;  
}


/*.text-block {
  background-color: #231911;
}*/



/* Homepage (1) */

/* 4. User Directory: How Can We Help? Section */
/* How can we help BEGIN */
.reach-out {
  text-align: center;
  background-color: #F2F2F2;
  padding: 4rem;
}

.reach-out-button-container {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 2rem;
}

.reach-out-arrow {
  width: 350px;
  margin: 0 auto;
  background-color: #F2F2F2;
}

.reach-out-text {
  outline: 3px solid #7B9A7B;
  padding: 1em 1em;
}

.arrow {
  font-size: 60px;
  color: #7B9A7B;
  text-align: center;
  margin-top: -20px;
}
/* How can we help END */
/* 5. Background Info: Did You Know? Section */

.background-info {
  background-color: #7b9a7b;  
}

.background-info h3 {
  text-align: center; 
  padding: 20px; 
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-container > div {
  width: 620px;
  margin: 5px;
}

.background-info ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%
}

.background-info li {
  list-style: none;
  display: in-line-block;
  font: Montserrat;
  color: black;
  font-size: 20px;
  width: calc (100% / 2);
  height: 60px;
  text-align: left;
  word-wrap: normal;
}

.counter {
  font: Montserrat;
  color: black;
  font-size: 28px;
  font-weight:bold;
}
/* 6. Testimonials Section */

.testimonials-section h3 {
  text-align: center; 
  padding: 20px; 
}

.testimonials-section {  
 
    flex-direction: row;  
    flex-wrap: wrap; 
    display: flex;
    justify-content: center;
    align-content: center; 
    align-items: center;  
    box-sizing: border-box; 
    margin: 0;  
    padding: 0;  
    background-color: #f2f2f2; 
}

.testimonials-image img {
    flex: 1 0 0; 
    min-width: 320px; 
    max-width: 100vw; 
    height: auto; 
    object-fit: cover;
    box-sizing: border-box; 
    margin:0;
    padding: 0; 
    display: block; 
  }
      
  .testimonials-quote {
    flex: 1 0 0;  
    min-width: 320px; 
    max-width: 100wv; 
    overflow-wrap: break-word; 
    text-align: left; 
    background-color: #f2f2f2;     
    box-sizing: border-box;  
    padding-left: 2rem;
    padding-right: 2rem;  
    padding-bottom: 2rem;
  }

.testimonials-quote blockquote {
  padding: 4rem 30px; 
}

.testimonials-quote h5 {
  text-align: right; 
  font-style: italic; 
}

@media (min-width: 1040px) {
 .testimonials-image img {
   width: auto; 
 }
}

@media (max-width: 640) {
  .testimonials-quote {
    text-align: center; 
  }
}

@media (max-width: 640) {
  .testimonials-section h3 {
    padding-top: 2rem; 
  }
}
/* 7. Student Resources Section */

.student-resources-section h3 {
  text-align: center; 
  padding: 20px; 
}

.student-resources-section {  
 
    flex-direction: row;  
    flex-wrap: wrap; 
    display: flex;
    justify-content: center;
    align-content: center; 
    align-items: center;  
    box-sizing: border-box; 
    margin: 0;  
    padding: 0;  
    background-color: #a1a19b; 
}

.student-resources-image img {
    flex: 1 0 0; 
    min-width: 320px; 
    max-width: 100vw; 
    height: auto; 
    object-fit: cover;
    box-sizing: border-box; 
    margin:0;
    padding: 0; 
    display: block; 
  }
      
  .student-resources-text {
    flex: 1 0 0;  
    min-width: 320px; 
    max-width: 100wv; 
    overflow-wrap: break-word; 
    text-align: left; 
    background-color: #a1a19b;     
    box-sizing: border-box;  
    padding-left: 2rem;
    padding-right: 2rem;  
    padding-bottom: 2rem;
    padding-top: 2rem; 
  }

.student-resources p {
  padding: 4rem 30px; 
}

.student-resources h5 {
  text-align: right; 
  font-style: italic; 
}

@media (min-width: 1040px) {
 .student-resources-image img {
   width: auto; 
 }
}

@media (max-width: 640) {
  .student-resources-text {
    text-align: center; 
  }
}

@media (max-width: 640) {
  .student-resources-section h3 {
    padding-top: 2rem; 
  }
}

/* 8. Other Basic Needs Resources Section */
/* Basic needs BEGIN */
.basic-needs {
  background-color: #f2f2f2;
  text-align: center;
  padding: 4em;
}

.basic-needs-description {
  margin: 30px 100px;
  font-size: 18px;
  text-align: center;
  padding-top: 2em;
}
/* Basic needs END */
/* 9. Chat with Someone Section */

/* 10. Get Involved Section */




/* Student Mental Health Resources Page (2) */

/* 11. Resource Directory Section */
.section-three {
  text-align: center;
  font: Montserrat;
  background-color: #F2F2F2;
  justify-content: space-around;
  padding: 4rem;
}

.mental-health-resources {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 2rem;
}

.btn {
  color:  #F2F2F2;
  border-radius: 8px;
  width: 200px;
  height: 75px;
  margin: 15px 60px;
}

.btn-orange{
  background-color: #C34910;
}

.btn-olive {
  background-color: #7B9A7B;
}

.btn-gray {
  background-color: #A1A19B;
}

.btn-black {
  background-color: #231911;
}

/* 12. On-Campus Resources Section */
.on-campus-container {
  background-color: #7B9A7B;
  text-align: center;
  padding: 4rem;
}

.on-campus-card-container {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 2rem;
}

.card {
  background-color: #ffffff;
  width: 130px;
  height: 200px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 5px 5px;
  margin: 20px 20px;
}

.card-text {
  font-size: 12px;
  height: 140px;
  margin: 0px 5px;
  padding-top: 10px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.button-container {
  text-align: center;
}

.button-dark {
  background-color: #231911;
  border: none;
  padding: 15px 20px;
  font-size: 10px;
  color: #F2F2F2;
  border-radius: 5px; /* 5px rounded corners */
  margin: 0 auto;
}
/* 13. Off-Campus Resources Section */
.off-campus-container {
  background-color: #F2F2F2;
  text-align: center;
  padding: 4rem;
}

.off-campus-card-container {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 2rem;
}

.button-orange {
  background-color: #C34910;
  border: none;
  padding: 15px 20px;
  font-size: 10px;
  color: #F2F2F2;
  border-radius: 8px; /* 8px rounded corners */
  margin: 0 auto;
}
 
/* 14. Online/National Resources Section */
body {
  background-color: white;
}
.online-national-parent-container {
  text-align: center;
  padding: 4rem;
}
.online-national-container {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 2rem;
}
.button {
  background-color: #7B9A7B;
  border: none;
  border-radius: 8px;
  font: Montserrat;
  color: white;
  padding: 10px 10px 10px 10px;
  width: 140px;
  height: 100px;
  text-align: center;
  word-wrap: normal;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 15px 15px;
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}



/* Get Involved Page (3) */

/* 15. Helper Directory Section */

/* 16. Student Helpers Section */

/* 17. Faculty Helpers Section */

/* 18. Donors & Alumni Section */

/* 19. Therapist Volunteers Section */


/* Crisis Page (4) */

/* 20. Crisis Info Section */
body {
  background-color: white;
}
.emergency-resources-container {
  text-align: center;
  padding: 4rem;
}
/*
.online-national-container {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 2rem;
} 
*/

.button-crisis {
  background-color: #C34910;
  border: none;
  border-radius: 8px;
  font: Montserrat;
  color: white;
  padding: 10px 10px 10px 10px;
  width: 140px;
  height: 100px;
  text-align: center;
  word-wrap: normal;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 15px 15px;
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}


/* 21. Footer */

footer {
  background-color: #7b9a7b;
  color: #fff;
  padding: 4rem 0;
  line-height: 1.5;
  letter-spacing: 1px;
}

.footer {
  width: 100%; 
  height: 100%;
}

  
.footer-links a {
  color: #fff; 
  text-decoration: none; 
}

.footer-link-li:hover {
  font-size: 115%;
}


.footer-row {
  display: flex; 
  flex-direction: column-reverse;  
  align-items: center; 
  justify-content: center; 
  text-align: center;   
  min-width: 320px;  
}

@media (min-width: 1041px) {
  .footer-row {
    /* width: 360px; */
    flex-direction: row;
  }
}

.footer-column {
  flex: 33.33%;  
  min-width: 320px;
  padding: 20px;
}

.phone a {
  text-decoration: none; 
  color: #fff; 
}